
footer {
  background-color: #e7f1ff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 3rem;
}

/* Add Bootstrap’s own documentation example highlight */

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -0.75rem 0;
  border: solid #dee2e6 1px;
}
